{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<div class="container fluid mt-5 ">
    <div class="row">
        <div class="col-lg-12">
            <h3>Review & Confirm Your Booking</h3>

        </div>


        <div class="col-lg-12">
            <div class="row">


                <div class="col-lg-5">
                    {% if theroom.image %}
                    <img src="{{ theroom.image.url }}" class="img-responsive" style="height:320px; width:400px">
                    <h5>{{ theroom.name }}</h5>
                    {% endif %}
                </div>

                <div class="col-lg-6 col-lg-offset-2">
                    <h4><b>{{ hotel.name }}</b></h4>
                    <p>{{ hotel.address }}</p>
                    <p>Room Capacity: {{ theroom.capacity }}</p>
                    <p>Check in: {{ checkin }}</p>
                    <p>Check out: {{ checkout }}</p>
                    <p>Cancellation Policy: </p>

                    <p>Price {{ theroom.price }}</p>
                    <p>booking id: {{ invoice }}</p>

                    <p>Quantity: {{ r }}</p>
                    <p>Total cost: {{ totalcost }}</p>


                    <form method="POST" action="{% url 'booking:newbooking' theroom.id hotel.id checkin checkout r totalcost %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Book Now</button>
                    </form>


                    <br>
                    <br>
                    <br>

<!--
                 <form method="POST" action="">checkin_year checkin_month checkin_date checkout_year checkout_month checkout_date
                     {% csrf_token %}
                     <button type="submit" class="btn btn-success" value="Book now"></button>
                 </form>
-->




            {% if request.user.is_authenticated %}

                     <h5>By continuing, you will be redirected to select payment method.</h5>
                        <input type="button" class="btn btn-primary" value="Continue">

                    {% else %}
                    <h3><b>Sign In First</b></h3>
                    <input type="button" class="btn btn-success" value="Sign In">

            {% endif %}
                </div>
        </div>

    </div>

</div>
</div>

{% endblock content %}
