{% extends 'base.html' %}
{% load static %}


{% block stylesheet %}

{% endblock %}




{% block content %}
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Add Room</h3>
            <div class="col-lg-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}

                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.name }}
                                <label for="id_name"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                <span style="color:#757575">Select Hotel </span>
                                {{ form.hotel }}
                                <label for="id_hotel"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.roomtype }}
                                <label for="id_roomtype"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                <span style="color: #757575">Select Image</span>
                                {{ form.image }}
                                <label for="id_image"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.capacity }}
                                <label for="id_capacity"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.price }}
                                <label for="id_price"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.quantity }}
                                <label for="id_quantity"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.discount }}
                                <label for="id_discount"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.vat }}
                                <label for="id_vat"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form mt-4">
                                {{ form.service_charge }}
                                <label for="id_service_charge"></label>
                            </div>
                        </div>
                    </div>

                <br>
                    <input type="submit" class="btn btn-success" value="Create Room">
                </form>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
