{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <h5>{{ user.firstname }} {{ user.lastname }}</h5>
                </div>
                <div class="col-lg-12">
                    {% if user.image %}
                    <img src="{{ user.image.url }}" class="img-responsive">
                    {% endif %}

                </div>
                <div class="col-lg-12">
                    <br>
                    <a href="{% url 'accounts:change-basic-info' %}">Edit Your Profile</a>
                    <p></p>

                    <a href="{% url 'accounts:create_property' user_id=user.id %}">Create Property</a>

                    <br>

                </div>
                <div>

                </div>

            </div>

        </div>






        <div class="col-lg-8 col-lg-offset-1">
            <h5>Hello {{user.firstname}}, it's nice to see you</h5>
        </div>
    </div>
</div>











{% endblock content %}
