{% extends 'base.html' %}

{% load static %}
{% block content %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light fluid mt-5">
  <div class="container" style="margin-top:20px">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="{% url 'accounts:profile' profile_id=user.id %}">My Dashboard</a>
      <a class="nav-item nav-link" href="{% url 'accounts:booking_details' %}">Bookings Details</a>
      <a class="nav-item nav-link" href="{% url 'accounts:create_property' user_id=user.id %}">List Your Property</a>
      <a class="nav-item nav-link" href="{% url 'accounts:notifications' p_id=user.id %}">Notification {{count}}</a>
    </div>
  </div>
  </div>
</nav>

<div class="container fluid mt-5 ">

       <div class="row">


        <div class="col-lg-3">
                 <div class="card" style="padding:20px;border: 1px solid #ddd; border-radius:8px; height:420px">


                        <h5>{{ user.firstname }} {{ user.lastname }}</h5>



                        {% if user.image %}
                        <img src="{{ user.image.url }}" class="rounded-circle" style="height:190px;width:200px">
                        {% endif %}


                        <br>
                        <a href="{% url 'accounts:change-basic-info' %}">Edit Your Profile</a>


                </div>

        </div><!-- End Left coloumn -->





        <div class="col-lg-9 ">
            <br>
            <br>
            <br>

            {% for hotel in hotels %}
                            <div class="card" style="border: 1px solid #ddd; border-radius:8px">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {% if hotel.image %}
                                        <a href="{{ hotel.get_absolute_url }}"><img src="{{ hotel.image.url }}" class="img-responsive" style="border-radius: 5px;;height:250px; width:300px"></a>

                                            {% endif %}
                                    </div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                            <h3><b><a href="{{ hotel.get_absolute_url }}">{{ hotel.name }}</a></b></h3>
                                            <p>{{ hotel.rating }}</p>
                                            <p>{{ hotel.address }}</p>
                                            <br>
                                    <br>
                                        </div>

                                    <a type="submit" class="btn btn-primary" href="{% url 'accounts:add_room'  %}">Add Room</a>
                                    <a type="submit" class="btn btn-primary" href="{% url 'accounts:view_all_rooms'  %}">View All Room </a>
                                    <a type="submit" class="btn btn-primary" href="{% url 'accounts:edit_property' hotel_id=hotel.id %}">Edit Hotel</a>

                                </div>


                            </div>
                            <br>

            {% endfor %}
        </div>
    </div>
</div>











{% endblock content %}
