{% extends 'base.html' %}
{% load static %}



     {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
     {% endblock %}


{% block content %}


<div class="container fluid mt-5 ">
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 col-sm-10 col-10">
        <div class="card">
            <div class="login-form p-5 text-center">

            <h3 class=" font-weight-bold mb-3"><b>Sign Up</b></h3>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}

                    <div class="form-row mt-3">
                        <div class="col-lg-6">
                            <div class="md-form ">
                            {{ form.firstname }}
                                <label for="id_firstname"></label>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="md-form ">
                            {{ form.lastname }}
                                <label for="id_lastname"></label>
                            </div>
                        </div>
                    </div>
                     <div class="form-row mt-3">
                        <div class="col">
                            <div class="md-form ">
                            {{ form.email }}
                                <label for="id_email"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col">
                            <div class="md-form ">
                            {{ form.phone }}
                                <label for="id_phone"></label>
                            </div>
                        </div>
                    </div>
                     <div class="form-row mt-3">
                        <div class="col">
                            <div class="md-form ">
                            {{ form.password1 }}
                                <label for="id_password1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col">
                            <div class="md-form ">
                            {{ form.password2 }}
                                <label for="id_password2"></label>
                            </div>
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                        <br>

            <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
        </div>
    </div>
</div>
</div>
</div>



{% endblock content %}
