<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">


    <title>{% block title %}  {% endblock %}</title>


  <!-- =============== CSS =============== -->
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    {% block stylesheet %}
    {% endblock %}

    <style>


    </style>

</head>
<body>

<header>
        <!-- <nav class="navbar navbar-default navbar-fixed-top navbar-default-transparent "> -->
        <nav class="navbar navbar-default navbar-fixed-top  ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               <!-- <img alt="Amarroom Logo" class="img-responsive logo-home" src="https://cdn.amarroom.com/img/logo.png"> -->
                <h5 style="color:#ff8000">Wgw by Dear Life bd</h5>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Support <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Contact Us</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Call Us</li>
                        <li><a href="#"><i class="fa fa-phone-volume text-muted"></i> +8809666-770099</a></li>
                        <li><a href="#"><i class="fa fa-phone-volume text-muted"></i> +8801830-888333</a></li>
                    </ul>
                </li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'accounts:login' %}" id="loginLink" >Login</a></li>
                <li><a href="{% url 'accounts:signup' %}" id="signupLink" >Sign Up <span class="sr-only">(current)</span></a>
                </li>

                {% else %}
                <li><a href="{% url 'booking:viewbookings' %}">My Booking</a></li>
                <li><a href="{% url 'accounts:profile' profile_id=user.id %}">My dashboard</a></li>
                <li><a href="{% url 'accounts:create_property' user_id=user.id %}">List your property</a></li>

                <li><a href="#"></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">{{ user.firstname }} {{ user.lastname }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'accounts:change-password' %}">Change password</a></li>

                        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>

                    </ul>
                </li>
                {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}

                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% endif %}



                <li class="dropdown hidden" id="profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span id="user_name"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                            <li><a href="/account/bookings/">My Bookings</a></li>


                        <li><a href="#logout" id="logoutLink">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
    </header>



    {% block content %}


    {% endblock content %}


<!--  ======================== JS =================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    {% block javascript %}

<!-- ======================= Pagination ====================== -->
<script>
        $(document).ready(function(){

          var skip_pages = 5; //change your number accordingly you want to show numbers

          var total_pages = {{object_list.paginator.num_pages}};
          var current_page = {{object_list.number}};
          var factor = Math.floor(current_page/skip_pages);

          $(".page_number").each(function(i, obj) {   //Showing the discrete numbers
                var page = factor*(skip_pages) + i + 1;
                if(current_page%skip_pages == 0)
                  page = (factor-1)*skip_pages + i + 1;
                if(page - 1 < total_pages){
                  $(this).html(page);
                  $(this).attr("href", "?page=" + page);
                }
                else{
                  var x = i+1;
                  $('li[data=' + x + ']').css("display", "none");
                }
          });
            var page = current_page%skip_pages;
            if(page == 0)
              page = skip_pages;
            $('li[data=' + page + ']').each(function(){   //Deciding the active class
              $('li[data=' + page + ']').addClass("active");
            });

          $(".skip_next").click(function(){   //Skip next ... Function
              if(current_page%skip_pages == 0)
                factor = factor-1;
              var page = (factor+1)*skip_pages + 1;
              if(page < total_pages)
                $(this).attr("href", "?page=" + page);
              else
                $(this).attr("href", "?page=" + total_pages);
          })
          $(".skip_prev").click(function(){ //Skip Previous ... Function
              if(current_page%skip_pages == 0)
                factor = factor-1;
              var page = skip_pages*(factor-1) + 1;
              if(page > 0)
                $(this).attr("href", "?page=" + page);
              else
                $(this).attr("href", "?page=" + "1");
          })
        })

</script><!-- =================== End Pagination =================== -->

    {% endblock %}



</body>
</html>
