<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
{% load staticfiles %}

    <title>{% block title %}  {% endblock %}</title>


  <!-- =============== CSS =============== -->
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">


    <!--Fontawesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">



    <link rel="stylesheet" href="{% static 'css/base.css' %}">

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- mdb css -->
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
<!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
-->
    {% block stylesheet %}
    {% endblock %}

    <style>
    .navbar-nav li{
        letter-spacing: 1px;
        margin-right: 15px;
      }
      .navbar  a {
        color: white;
      }
      .navbar-nav  a:hover {
        color: #dae3e2
      }

    </style>

</head>
<body>
         <header>
      <!-- Start Navbar and Intro -->
      <nav class="navbar navbar-expand-lg  fixed-top scrolling-navbar" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}"><strong>WGWDEARLIFE</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="">About</a></li>
              <li class="nav-item"><a class="nav-link" href="">Feedback</a></li>
              {% if  request.user.is_superuser %}
              <li class="nav-item"><a class="nav-link" href="{% url 'staff:staff_home' %}"><i class="fas fa-user-alt mr-2"></i>Admin</a></li>
              {% endif %}
              {% if user.is_authenticated  %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% if user.firstname %}{{user.firstname}} {% else %}{{request.user}} {%endif%} {% if user.lastname %}{{user.lastname}}{%endif%}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'booking:viewbookings' %}"><i class="fa fa-user-circle mr-1"></i>My bookings</a>
                        <a class="dropdown-item"  href="{% url 'accounts:profile' profile_id=user.id %}"><i class="fa fa-user-circle mr-1"></i>See as Seller</a>

                        <a></a>
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                     </div>
                </li>


              <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-comments mr-2"></i>Messages</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
              {% endif %}
            </ul>
            {% if not request.user.is_authenticated %}
              <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <!-- End Navbar and Intro -->




    {% block content %}


    {% endblock content %}



    <!-- footer section starts -->
    <footer class="ee pt-5 pb-4 mt-5">
      <div class="container">
        <!-- div row starts -->
        <div class="row">
          <!-- First column starts -->
          <div class="col-12 col-sm-4 col-md-4 text-white mb-4">
            <h4 class="font-weight-bold mb-3">About Us</h4>
            <ul style="list-style: none; margin: 0; padding: 0">
              <li>
                <a href="" class="text-white mb-2">Blog</a>
              </li>
              <li>
                <a href="" class="text-white mb-2">Careers</a>
              </li>
              <li>
                <a href="" class="text-white mb-2">Partners</a>
              </li>
              <li>
                <a href="" class="text-white mb-2">Terms & conditions</a>
              </li>
            </ul>
          </div>
          <!-- First column starts -->

          <!-- Second column starts -->
          <div class="col-12 col-sm-4 col-md-4 mb-4">
            <h4 class="font-weight-bold text-white mb-3">Support</h4>
            <ul style="list-style: none; margin: 0; padding: 0">
              <li>
                <a href="" class="text-white mb-2">FAQ</a>
              </li>
              <li>
                <a href="" class="text-white mb-2">Have Questions?</a>
              </li>
              <li>
                <a href="" class="text-white mb-2">Feedback</a>
              </li>
            </ul>
          </div>
          <!-- Second column ends -->

          <!-- Third column starts -->
          <div class="col-12 col-sm-4 col-md-4 mb-4">
            <h4 class="font-weight-bold text-white mb-3">Find us on</h4>
            <ul style="list-style: none; margin: 0; padding: 0">
              <li>
                <a href="" class="text-white mb-2"><i class="fab fa-facebook mr-2"></i>facebook.com/uaa</a>
              </li>
              <li>
                <a href="" class="text-white mb-2"><i class="fab fa-twitter mr-2"></i>twitter.com/uaa</a>
              </li>
              <li>
                <a href="" class="text-white mb-2"><i class="fas fa-envelope mr-2"></i>support@uaa.com</a>
              </li>
            </ul>
          </div>
          <!-- Third column ends -->
        </div>
        <!-- div row starts -->

        <!-- copy right row starts -->
        <div class="row pt-4">
          <div class="col-12 text-center text-white">
            <p>&copy; copyright 2019 All right reserved. Designed and Developed by <a href="">Dearlife</a></p>
          </div>
        </div>
        <!-- copy right row ends -->
      </div>
    </footer>
    <!-- footer section ends -->


<!--  ======================== JS =================== -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>


    {% block javascript %}

<!-- ======================= Pagination ====================== -->
<script>
        $(document).ready(function(){

          var skip_pages = 5; //change your number accordingly you want to show numbers

          var total_pages = {{object_list.paginator.num_pages}};
          var current_page = {{object_list.number}};
          var factor = Math.floor(current_page/skip_pages);

          $(".page_number").each(function(i, obj) {   //Showing the discrete numbers
                var page = factor*(skip_pages) + i + 1;
                if(current_page%skip_pages == 0)
                  page = (factor-1)*skip_pages + i + 1;
                if(page - 1 < total_pages){
                  $(this).html(page);
                  $(this).attr("href", "?page=" + page);
                }
                else{
                  var x = i+1;
                  $('li[data=' + x + ']').css("display", "none");
                }
          });
            var page = current_page%skip_pages;
            if(page == 0)
              page = skip_pages;
            $('li[data=' + page + ']').each(function(){   //Deciding the active class
              $('li[data=' + page + ']').addClass("active");
            });

          $(".skip_next").click(function(){   //Skip next ... Function
              if(current_page%skip_pages == 0)
                factor = factor-1;
              var page = (factor+1)*skip_pages + 1;
              if(page < total_pages)
                $(this).attr("href", "?page=" + page);
              else
                $(this).attr("href", "?page=" + total_pages);
          })
          $(".skip_prev").click(function(){ //Skip Previous ... Function
              if(current_page%skip_pages == 0)
                factor = factor-1;
              var page = skip_pages*(factor-1) + 1;
              if(page > 0)
                $(this).attr("href", "?page=" + page);
              else
                $(this).attr("href", "?page=" + "1");
          })
        })

</script><!-- =================== End Pagination =================== -->

    {% endblock %}



</body>
</html>
