{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">


    <title>Wgw by Dear Life Bd</title>


  <!-- =============== CSS =============== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    {% block stylesheet %}
    {% endblock %}

</head>
<body>

<header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-default-transparent ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               <!-- <img alt="Amarroom Logo" class="img-responsive logo-home" src="https://cdn.amarroom.com/img/logo.png"> -->
                <h5 style="color:#ff8000">Wgw by Dear Life bd</h5>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a target="_blank" href="#" title="" id="ccLink">Blog</a></li>
                <li><a class="hidden" href="#" id="ccLink">CC Panel</a></li>
                <li><a class="hidden" href="#" id="dealerLink">Dealer Panel</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Support <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Contact Us</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Call Us</li>
                        <li><a href="#"><i class="fas fa-phone-volume text-muted"></i> +8809666-770099</a></li>
                        <li><a href="#"><i class="fas fa-phone-volume text-muted"></i> +8801830-888333</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'accounts:login' %}" id="loginLink" >Login</a></li>
                <li><a href="{% url 'accounts:signup' %}" id="signupLink" >Sign Up <span class="sr-only">(current)</span></a>
                </li>

                <li class="dropdown hidden" id="profile">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span id="user_name"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                            <li><a href="/account/bookings/">My Bookings</a></li>


                        <li><a href="#logout" id="logoutLink">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
    </header>



    {% block content %}





    {% endblock content %}


<!--  ======================== JS =================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    {% block javascript %}


    {% endblock %}



</body>
</html>
