{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">


                    <div class="col-lg-12" style="margin-top:60px">
             {% for hotel in hotels %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                    {% if hotel.image %}
                                    <div class="col-lg-6">
                        <img src="{{ hotel.image.url }}" class="img-responsive">
                                    </div>
                                        {% endif %}
                                    <div class="col-lg-6">
                                        <a href="{% url 'hotels:room_list' id=hotel.id %}">{{ hotel.name }}</a>
                                        <p>{{ hotel.rating }}</p>
                                        <p>{{ hotel.address }}</p>
                                    </div>

                                </div>
                                <br>
                                    <div class="col-lg-12">
                                        <p>{{ hotel.description }}</p>
                                    </div>
                                </div>
                            </div><br>
        <br>
        <br>
        <br>

            {% endfor %}
                          </div>

    </div>
</div>


{% endblock %}
