{% extends 'base.html' %}
{% load static %}




{% block content %}



<div class="container fluid mt-5 ">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <form method="POST" enctype="multipart/form-data" name="search" onsubmit="return validateForm()">
                {% csrf_token %}

                <div class="form-group">
                    <input class="form-control text-capitalize" type="text" name="searchterm" id="checkin" placeholder="where are you going?" required>

                </div>

                <!-- Multi Date, Date Picker -->
                <div class="form-group">
                    <input class="date form-control" type="text" name="daterange" id="checkin" placeholder="Select Date" required>


                </div>

                <button type="submit" class="btn btn-primary">Search</button>


            </form>

        </div>

    </div>
    <br>

    <div class="row">


                        <!-- ========= Left ============== -->
                        <div class="col-lg-3">


                        </div>


                        <!-- =========== Right ============== -->
                        <div class="col-lg-9">
                            <h3><b>{{ instance.name }}</b></h3>


             {% for hotel in object_list %}
                            <div class="card" style="border: 1px solid #ddd; border-radius:8px; padding: 20px">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {% if hotel.image %}
                                        <a href="{{ hotel.get_absolute_url }}"><img src="{{ hotel.image.url }}" class="img-responsive" style="border-radius: 5px;;height:230px; width:245px"></a>

                                            {% endif %}
                                    </div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                                            <h4><b><a href="{{ hotel.get_absolute_url }}" style="color:#003d99;text-decoration:none">{{ hotel.name }}</a></b></h4>
                                            <p>{{ hotel.rating }}</p>
                                            <p>{{ hotel.address }}</p>
                                        </div>

                                </div>


                            </div>
                            <br>

            {% endfor %}


    <!-- ==================== Pagination =================== -->
    {% if object_list.has_other_pages %}
 <nav aria-label="Page navigation example mt-5">
    <ul class="pagination">

            {% if object_list.has_previous %}
              <li class="page-item"><a href="?page=1" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>

               <li class="page-item"> <a href="?page={{ object_list.previous_page_number }}
               {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-left"></i></a></li>
            {% else %}
        <li class="page-item disabled"><span class="page-link"><i class="fas fa-angle-left"></i></span></li>
            {% endif %}

          {% for i in object_list.paginator.page_range %}


          {% endfor %}

          {% if object_list.has_next %}
          <li class="page-item">  <!-- Show next 4 page numbers -->
              <li class="previous"> <a class = "skip_next" href = "">...</a></li>
          {% else %}
                <li class="next disabled"><a>...</a>
          {% endif %}
          </li>
          <li class="page-item">  <!-- Jump to Next Page -->
            {% if object_list.has_next %}
              <li class="previous"> <a href="?page={{ object_list.next_page_number }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">›</a></li>
            {% else %}
                <li class="next disabled"><a>›</a>
            {% endif %}
          </li>
          <li class="page-item">  <!-- Jump to Last Page -->
            {% if object_list.number != object_list.paginator.num_pages %}
              <li class="previous"> <a href="?page={{ object_list.paginator.num_pages }}
                {% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">»</a></li>
            {% else %}
                <li class="next disabled"><a>»</a>
            {% endif %}
          </li>
        </ul>
 </nav>
    {% endif %} <!-- Pagination end -->


                          </div>
                    </div>

    </div>
</div>




{% endblock content %}
