{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- ============================= Home page background image ========================
<section>
            <div class="background-image img-responsive" >
            </div>
    <br>
</section>
=============================================     -->
<br>
<br>
<br>
<br>
<br>
<section>
    <div class="container fluid mt-5 ">
        <div class="row">
            <div class="col-md-12 ">
                {% if user.is_authenticated  %}
                <h4>Welcome {% if user.firstname %} {{ user.firstname }} {% endif %} {% if user.lastname %} {{ user.lastname }} {% endif %}</h4>

                {% else %}
                <h4>Find deals on hotels, homes, and much more.</h4>

                {% endif %}
                <form  method="POST" enctype="multipart/form-data" name="search" onsubmit="return validateForm()">
                    <div class="form-row align-items-center">
                    {% csrf_token %}
                        <div class="col-md-4 my-1">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="border:2px solid #08a397">
                                <div class="input-group-prepend">
                                    <!-- <div class="input-group-text">@</div> -->
                                    <input class="form-control text-capitalize" type="text" name="searchterm" id="checkin" placeholder="where are you going?" required>
                                </div>
                            </div>
                        </div>

                        <!-- Multi Date, Date Picker -->
                        <div class="col-md-4 my-1">
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="border: 2px solid #08a397">
                                <div class="input-group-prepend">
                                    <!-- <div class="input-group-text">@</div> -->
                                    <input class="date form-control text-capitalize" type="text" name="daterange" id="checkin" placeholder="Check-in - Check-out" required>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Search</button>

                    </div>
                </form>

            </div>

        </div>
    </div>
</section>
<br>
<br>
<br>


<!--
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-uppercase text-muted">
                <h2>Speacial Offers</h2>
                <br>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img class="mySlides" src="{% static 'image/s1.jpg' %}" style="width:100%; height:350px">
                    <img class="mySlides" src="{% static 'image/s2.jpg' %}" style="width:100%;height:350px">
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                <br>
                </div>
        <script>
            var slideIndex = 1;
            showDivs(slideIndex);
            function plusDivs(n) {
              showDivs(slideIndex += n);
            }
            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
              }
              x[slideIndex-1].style.display = "block";
            }
        </script>
            </div>
        </div>
    </div>
</section>
-->



<!-- ================ Popular Destination =============== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center text-uppercase text-muted ">Popular Destinations</h2>
                <br><div class="row">
                 {% for place in places %}

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1">
                            {% if place.image %}


                                <a href="{{ place.get_absolute_url }}"><img src="{{ place.image.url }}" class="img-responsive" style="width: 560px; height: 300px;"></a>
                                    <p style="position: absolute; top:50%;left:50%;font-size:25px ; color:White; font-weight:bold;transform: translate(-50%, -50%);">{{ place.name }}</p>


                            {% endif %}

                    </div>



                 {% endfor %}</div> </div>



                </div>
                <br>
                <br>
                <br>
                <br>
            </div>

</section>




<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-uppercase text-muted">
                <h2>Your Best Friend in Travel</h2>

            </div>

        </div>

    </div>
</section>





<div class="row">



</div>


{% endblock content %}


{% block javascript %}

  <script src="https://unpkg.com/flatpickr"></script>

  <script>

  flatpickr(".date", {

	minDate: "today",
  mode:"range",

});

function validateForm() {
  var setdate = document.forms["search"]["daterange"].value;
  if(setdate == ""){
    alert("Date Must be Filled Out");
    return false;
  }
}

</script>
{% endblock %}
