{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Dashboard  |   You are logged in! {{user.email}}</div>

                <div class="panel-body">
                  <div class="list-group">
                      <a href="{% url 'booking:viewbookings'%}" class="list-group-item">View Your Bookings</a>
                  </div>
                </div>


            </div>
        </div>

    </div>

</div>


{% endblock content %}
