{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheet %}
<style>
.pre-scrollable {
    max-height: 520px;
}

</style>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body pre-scrollable" id="my_div">
                    {% for message in messages %}
                    <p class="card-text text-right text-white my-5"><span class="indigo lighten-1 p-3 rounded-left">{{ message.message }}<i class="fas fa-angle-double-left ml-2"></i></span></p>
                        {% if message.replied %}
                    <p class="card-text text-left text-dark"><span class="rgba-red-strong p-3 rounded-right"><i class="fas fa-angle-double-right mr-2"></i>{{ message.reply }}</span></p>
                        {% endif %}
                    {% endfor %}

                    <form id="my_div" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <input type="submit" style="visibility: hidden">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



{% block javascript %}

<script type="text/javascript">
	$("#my_div").scrollTop($("#my_div")[0].scrollHeight);
</script>
{% endblock %}
