<br>
<table class="table">



                <th scope="row">
                    {% for room in rooms %}
                    <tr>
                        <th>
                            <a>{{ room.name }}</a>
                        </th>

                        <td>
                            <a href="{% url 'staff:edit_room' id=room.id %}" class="btn btn-primary">Edit Room</a>
                        </td>
                    </tr>
                    {% endfor %}


                </th>


</table>
