{% extends 'base.html' %}

{% block title %} Dear Life Bd - Staff Home {% endblock %}



{% block stylesheet %}
<style>
.ee {
    color: #08a397;
}


</style>


    {% endblock %}


{% block content %}
<div class="container-fluid mt-5 ">
		<div class="row">
			<div class="col-md-3 mr-5 col-sm-12 ee p-4">
				<nav class="nav flex-column">
                  <a class="nav-link text-white pt-3">{{ user.email }}</a>
				  <a class="nav-link text-white border p-3" href="{% url 'staff:staff_home' %}">Booking Request</a>
				  <a class="nav-link text-white pt-3" href="{% url 'staff:view_booking' %}">View Booking</a>
				  <a class="nav-link text-white pt-3" href="{% url 'staff:places_list' %}">Places & Hotels</a>
                  <a class="nav-link text-white  pt-3" href="{% url 'staff:queries' %}">Messages</a>
				</nav>
			</div><!-- Left Column -->


      <!-- ======================== Right Column ======================= -->
            <div class="col-md-8 col-sm-12 mt-5">
                <h2>Dashboard</h2>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="padding:25px; border-radius:10px">
                            <div class="card-body">
                              <h4 class="card-title">Orders</h4>
                              <p class="card-text"></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="padding:25px; border-radius:10px">
                            <div class="card-body">
                              <h4 class="card-title">Total Booking ({{ booking_list.count }})</h4>

                              <p class="card-text"></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="padding:25px; border-radius:10px">
                            <div class="card-body">
                              <h4 class="card-title">Earning</h4>
                              <p class="card-text"></p>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-md-offset-3">
                            <h3>Apply request</h3>
                            {% for book in booking_list %}
                            <p>{{ book.user }}</p>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
         </div>

        </div>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>








{% endblock content %}
